<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="rrbot_one">
  <xacro:arg name="prefix" default="" />
  <xacro:arg name="base_color" default="orange" />
  
  <!-- Import RRBot macro -->
  <xacro:include filename="$(find rrbot_description)/urdf/rrbot_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find rrbot_description)/gazebo/rrbot.materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find two_distributed_rrbots_description)/ros2_control/rrbot_two.ros2_control.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <!-- second rrbot-->
  <xacro:rrbot parent="world" prefix="$(arg prefix)" base_color="$(arg base_color)">
    <origin xyz="-2 0 0" rpy="0 0 0" />
  </xacro:rrbot>

  <xacro:rrbot_two_hw
    name="rrbot_satellite_2" prefix="$(arg prefix)" />
</robot>
