<?xml version="1.0"?>
<!-- Revolute-Revolute Manipulator -->
<!--
Copied and modified from ROS1 example -
https://github.com/ros-simulation/gazebo_ros_demos/blob/kinetic-devel/rrbot_description/urdf/rrbot.xacro
-->
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arm">
  <xacro:arg name="prefix" default="" />

  <!-- Import RRBot macro -->
  <xacro:include filename="$(find rrdiffbot_description)/urdf/arm_description.urdf.xacro" />

  <!-- Import Rviz colors -->
  <xacro:include filename="$(find rrdiffbot_description)/gazebo/materials.xacro" />

  <!-- Import RRBot ros2_control description -->
  <xacro:include filename="$(find rrdiffbot_description)/ros2_control/arm.ros2_control.urdf.xacro" />

  <!-- Used for fixing robot -->
  <link name="world"/>
  <gazebo reference="world">
    <static>true</static>
  </gazebo>

  <xacro:rrdiffbot_arm parent="world" prefix="$(arg prefix)">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:rrdiffbot_arm>

  <xacro:rrdiffbot_arm_ros2_control
    name="RRDiffbot_arm" prefix="$(arg prefix)" />

</robot>
